# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Temporary files
*.tmp
*.temp